* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14rem;
}

header .logo {
  width: 2rem;
}
nav {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 1rem 3rem;
}

input[placeholder] {
  border: none;
  border-bottom: 1px solid black;
  width: 8.5rem;
  padding: 0.25rem 0;
  font-size: 13px;
}
.sc1 {
  display: grid;
  grid-template-columns: 90% 1fr;
  padding: 0 12rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  margin-top: 2rem;
  overflow: hidden;
}

.details {
  margin-top: 5rem;
}
.details h1 {
  font-size: 2.5rem;
}
.details p {
  max-width: 25rem;
  margin-top: 2.5rem;
  color: rgba(0, 0, 0, 0.3);
  border-left: 2px solid black;
  padding-left: 2rem;
}

button {
  background-color: #db2a35;
  color: white;
  padding: 1rem;
  font-size: 0.9rem;
  margin-top: 2rem;
  border: none;
  cursor: pointer;
  font-weight: bolder;
}

.watches img {
  width: 33rem;
  position: sticky;
  right: 0;
}

.sc2 {
  display: flex;
  justify-content: space-between;
  padding: 0 12rem;
}

.first-p,
.second-p,
.third-p {
  margin: 3rem;
}

.header {
  margin-bottom: 2rem;
}

.shape {
  display: flex;
  gap: 0.6rem;
  margin-top: 1rem;
}
.dot1,
.dot2,
.dot3 {
  width: 0.3rem;
  height: 0.3rem;
  background-color: rgba(0, 0, 0, 0.2);
}

.word {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: red;
}

.line {
  height: 0.2rem;
  width: 3rem;
  background-color: red;
}

.nike {
  padding: 0 12rem;
  display: flex;
  gap: 4rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.nike h1 {
  font-size: 3rem;
}

.nike p {
  margin-top: 3rem;
  border-left: 2px solid black;
  padding-left: 1rem;
  height: 5rem;
}

.nike img {
  width: 30rem;
}

.sport {
  margin-top: 10rem;
}

.last-p {
  background-image: url(./img/runners.jpg);
  height: 100vh;
  background-size: cover;
  color: white;
  padding: 8rem 0 0 45rem;
}

.last-p h1 {
  font-size: 3rem;
}

.last-p p {
  border-left: 3px solid white;
  padding-left: 1.4rem;
  height: 6rem;
  margin-top: 2.5rem;
}
